.headLogo{
    width: 10rem;
    height: 1.1067rem;
    background: white;
    left: 50%;
    margin-left: -5rem;
}
.headLogo {
    width: 10rem;
    background: white;

}
.headLogo .back{
    font-size: 0.7533rem;
    line-height: 1.1067rem;
    width: 0.4067rem;
    height: 0.58067rem;
    text-align: center;
    background:url('../assets/head/img/back.png') no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    font-family: '黑体';
}
.headLogo .text{
    width: 100%;
    text-align: center;
}
.headLogo .headLogoContent{
    width: 9.2rem;
    margin:0 auto;
    overflow: hidden;
    font-size: 0.4533rem;
    text-align: center;
    line-height: 1.1067rem;
    color: #333333;
    display: flex;
    align-items: center;
}
.headLogo .headLogoContent img{
    width:2.8rem;
    display: block;
    float: left;
}
.headTab {
    background: white;
    overflow: hidden;
}
.positionFixed{
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
}